<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}"> <!-- Link to the CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand {{ app.request.attributes.get('_route') starts with 'home' ? 'active' : '' }}" href="{{ path('home') }}">Home</a> 
           
                {% if app.user %}
                    <a class="navbar-brand" href="{{ path('app_logout') }}">Logout</a>
                {% else %}
                    <a class="navbar-brand {{ app.request.attributes.get('_route') starts with 'app_login' ? 'active' : '' }}" href="{{ path('app_login') }}">Login</a>
                    <a class="navbar-brand {{ app.request.attributes.get('_route') starts with 'app_register' ? 'active' : '' }}" href="{{ path('app_register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container my-4">
        <div>
            {% include 'partials/flash.html.twig' %}  
        </div>

        {% block body %}
       
        
        {% endblock %}
    </div>

</body>
</html>
