<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    {% block stylesheets %}
        {# You can include additional stylesheets here #}
    {% endblock %}
</head>
<body>
    <div class="admin-container">
        <nav class="sidebar">
            <ul>
                <li><a href="{{ path('admin_user.index') }}">Users</a></li>
                <li><a href="{{ path('admin.recipe.index') }}">Recipes</a></li>
                <li><a href="{{ path('admin.category.index') }}">Categories</a></li>
                <li><a href="{{ path('department') }}">Departments</a></li>
            </ul>
        </nav>
        <div class="container my-4">
        <div>
            {% include 'partials/flash.html.twig' %}  
        </div>
        <div class="content">
            {% block body %}
            {# This is where the page content will be rendered #}
            {% endblock %}
        </div>
    </div>

    {% block javascripts %}
        {# You can include additional scripts here #}
    {% endblock %}
</body>
</html>
